<div class="h-[100vh] bg-[#191414]">
  <div class="absolute z-[0] w-[40%] h-[35%] top-0 green__gradient"></div>
  <div class="h-[90vh] flex flex-col items-center justify-center">
    <a
      class="text-[22px] px-10 py-4 rounded-full sm:text-2xl md:text-2xl lg:text-3xl xl:text-3xl text-[#191414] animate-hover-up-down font-semibold shadow-lg hover:cursor-pointer bg-spotify-green-800 hover:bg-spotify-green-500 transition-all duration-200"
      (click)="login()"
    >
      Login with Spotify
      <img
        class="w-[35px] inline ml-4"
        src="../../../assets/svg/spotify.svg"
        alt="Spotify Logo"
      />
    </a>
  </div>
</div>
