<div class="flex flex-col items-center justify-center h-screen bg-[#121212]">
  <div class="mb-2">
    <img
      alt="Logo"
      src="https://open.spotifycdn.com/cdn/images/error-page-logo.24aca703.svg"
    />
  </div>
  <div class="text-center">
    <h1 class="text-2xl sm:text-2xl md:text-5xl lg:text-5xl xl:text-5xl  tracking-[-.04em] font-bold py-4  text-white">
      Page not found
    </h1>
    <div class="text-2xl sm:text-2xl md:text-2xl lg:text-3xl xl:text-3xl  tracking-normal font-bold py-4 text-white text-[32px]">
      Please wait while we redirect you to the previous page.
    </div>
    <p
      class=" text-xs   text-[#a7a7a7] inline-block  leading-normal max-w-[507px] font-normal"
    >
      We can’t seem to find the page you are looking for.
    </p>

    <div class="tracking-normal font-bold py-[25px] text-white text-[32px]">
      {{ countdown }}
    </div>
  </div>
</div>
